.dropbtn {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 8px;
    font-size: 14px;
    border-color: var(--color-white);
    cursor: pointer;
  
  }
  
   .dropdown {
    position: relative;
  } 
  
  /*Background för innehållet att dem droppar ner*/
  .dropdown-content { 
    display: none; /*Den e gömd och när man har focus-within så blir ändrad till display block och den syns*/
    position: absolute; /*Så att den "flyter" över annars blir hela container störrenär den droppar ner*/
    background-color: var(--color-light);
    min-width: 126px;
    box-shadow: var(--shadow-large-light);
  }

  /*Innehållet i dropdown*/
  .dropdown-content a { 
    color: var(--color-dark);
    padding: 6px;
    text-decoration: none;
    display: block;
  }

   /*Background när man hover över namnen*/
  .dropdown-content a:hover {background-color: var(--color-secondary)}

   /*Visar listan när man hover över button*/
  .dropdown:focus-within .dropdown-content {display: block;}
  
