/* Flex inställningar */
/*** Display ***/
.display-flex {display: flex;}
.display-none {display: none;} /*Gömmer elementet*/

/*** Flex ***/
.flex-grow {flex-grow: 1;}
.flex-column {flex-direction: column;}
.flex-row {flex-direction: row;}
.flex-row-reverse {flex-direction: row-reverse;}
.flex-wrap { flex-wrap: wrap;}

/*** Align & Justify ***/
.justify-content-between {justify-content: space-between;}
.justify-content-center {justify-content: center;}
.justify-content-around {justify-content: space-around;}
.align-items-center {align-items: center;}
.align-items { align-items:start}